.container {
    background-color: #000814;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFC300;
}

.container h1{
    font-weight: 700;
    font-size: 40px;
    margin: 1rem 0;
}

.container h4{
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    color: #FFF;
}

.button {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 1.5rem 0;
}

.midiaMobile{
    display: none;
}

.midiaSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 14%;
    bottom: 3rem;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    color: #FFC300;
}

.imgArea {
    display: flex;
    justify-content: center;
    background: linear-gradient( #001D3D, transparent );
    width: 40%;
    height: 55%;
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: 3rem;
    overflow: hidden;
}

.img {
    width: 300px;
    height: 300px;
    color: #001D3D;
}

.scroll {
    position: absolute;
    right: 5%;
    bottom: 8rem;
    transform: rotate(90deg);
}

.scroll a{
    text-decoration: none;
    color: #FFC300;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .imgArea{
        width: 30%;
        height: 40%;
    }
}

@media screen and (max-width: 500px){
    .container{
        height: 100%;
    }

    .container h1{
        font-size: 16px;
    }

    .container h4{
        font-size: 14px;
    }

    .button{
       flex-direction: column; 
    }

    .midiaMobile{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }

    .midiaSocials{
        display: none;
    }

    .icon{
        width: 32px;
        height: 32px;
    }

    .scroll{
        display: none;
    }

    .imgArea {
        height: 100%;
        width: 100%;
        position: static;
    }

    .img {
        margin-top: 20px;
        height: 100px;
        width: 150px;
    }
}