.container {
    background-color: #000814;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFC300;
}

.container h1{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.container h4{
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
}

.button {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 20px;
}

.midiaSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20%;
    bottom: 3rem;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    color: #FFC300;
}

.imgArea {
    display: flex;
    justify-content: center;
    background: linear-gradient( #001D3D, transparent );
    width: 40%;
    height: 60%;
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.img {
    width: 200px;
    height: auto;
    color: #001D3D;
}

.scroll {
    position: absolute;
    right: 14%;
    bottom: 7rem;
    transform: rotate(90deg);
}

.scroll a{
    text-decoration: none;
    color: #FFC300;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}