.container {
    background-color: #000814;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFC300;
}

.container h1{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.container h4{
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
}

.areaContact{
    display: flex;
    gap: 1.5rem;
    width: 85%;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.areaOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(0, 53, 102, 0.7);
    border-radius: 1rem;
}

.icon{
    width: 24px;
    height: 24px;
}

.option h4{
    margin: 0;
    font-size: 14px;
}

.option h3{
    margin: 0;
    margin-top: 0.5rem;
    font-size: 12px;
}

.option a{
    margin: 0.2rem 0 0.1rem 0;
    text-decoration: none;
    color: #FFF;
    padding: 0.5rem;
    background: #003566;
    text-align: center;
    border-radius: 1rem;
}

.areaContact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem;
    flex: 1;
}

.areaContact form input, .areaContact form textarea{
    width: 90%;
    background: transparent;
    padding: 0.5rem;
    border: 1px solid rgba(0, 53, 102, 1);
    border-radius: 1rem;
    color: #FFC300;
    font-size: 14px;
}

.areaContact form button {
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    width: 50%;
    border: 1px solid #FFD60A;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .areaContact {
        flex-direction: column;
    }
}