.container {
    background-color: #000814;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFC300;
}

.container h1{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.container h4{
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    gap: 1.5rem;
    margin-top: 2rem;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid rgba(0, 53, 102, 0.1);
    border-radius: 2rem;
}

.project:hover {
    border-color: #FFC300;
}

.areaImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.areaImg img{
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 1rem;
}

.projectOver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.projectOver h3{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    margin: 0;
    color: #FFC300;
}

.areaSub{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 48px;
    height: 48px;
    color: #FFF;
}

.visite{
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    background: #003566;
}

.visite:hover{
    opacity: 0.7;
}

@media screen and (max-width: 1190px) {
    .projects{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .projects{
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }
}