@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

div{
  background-color: #000814;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #000814;
}

/* color do project */
/* 
  primary: #000814
  secondary: #001D3D
  variant: #003566;
  font: #FFC300
  font-secondary: #FFD60A
*/


