.container {
    background-color: #000814;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFC300;
}

.container h1{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.container h4{
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
}

.about {
    display: flex;
    justify-content: space-Around;
    width: 90%;
    height: 100%;
    margin-top: 30px;
}

.areaImg{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.areaCards {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    flex: 1;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: rgba(0, 53, 102, 0.1);
    border: 1px solid #001D3D;
    border-radius: 5%;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.card:hover{
    background-color: rgba(0, 53, 102, 0.8);
}

.card h4 {
    font-weight: 500;
    font-size: 20px;
    color: #FFC300;
    margin: 0;
}

.icon {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

.areaText {
    text-align: justify;
    width: 80%;
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 1084px) {
    .container {
        height: 100%;
    }
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .areaImg {
        height:40%;
    }

    .areaText {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
    }
    .about{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .img {
        width: 120px;
        height: 120px;
    }
    .areaCards {
        padding: 5px;
    }
    .card {
        padding: 1rem;
    }
}

@media screen and (max-width: 500px){
    .areaImg{
        width: 30%;
        height: 30%;
    }

    .img {
        width: 80px;
        height: 80px;
    }

    .cards{
        grid-template-columns: 1fr;
    }
    .card {
        padding: 0.8rem;
        font-size: 16px;
    }
    
    .card h4 {
        font-size: 16px;
    }
    
    .icon {
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
    }
}